<footer>
    <div class="contacts">
        <a href="https://www.facebook.com/matteo.cappella2" target="_blank">
            <fa-icon size="2x" class="icon" [icon]="facebookIcon"></fa-icon>
        </a>
        <a href="https://www.instagram.com/matteo.capp/" target="_blank">
            <fa-icon size="2x" class="icon" [icon]="instagramIcon"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/matteo-cappella/" target="_blank">
            <fa-icon size="2x" class="icon" [icon]="linkedinIcon"></fa-icon>
        </a>
        <a href="https://github.com/matteocappella02" target="_blank">
            <fa-icon size="2x" class="icon" [icon]="githubIcon"></fa-icon>
        </a>
    </div>
    <p>© 2024 - Matteo Cappella</p>
</footer>