<main>
    <header>
        <img src="./../../../assets/Cattura.PNG">
    </header>
    <section>
        <p>👋 Hi everyone 👋 </p>
        <p>I'm Matteo Cappella and I'm a <strong>Software Engineer</strong> based in Milan 🇮🇹.</p>
        <p>I have {{ experienceYears }} years experience in <strong>Web development</strong> and I love to
            interact with other people 👥 and
            building stuff togheter.</p>

        <p>I currently work as <strong>Team Leader and Frontend Developer</strong> at <a href="https://leitha.eu/">Leithà | Unipol Group</a>.</p>
    </section>
    <footer>
        <div class="contacts">
            <a href="https://www.linkedin.com/in/matteo-cappella/"><fa-icon size="2x" class="icon"
                    [icon]="linkedinIcon"></fa-icon></a>
            <a href="https://github.com/matteocappella02"><fa-icon size="2x" class="icon"
                    [icon]="githubIcon"></fa-icon></a>
        </div>
        <p>© 2024 - Matteo Cappella</p>
    </footer>
</main>