<div class="description-container">
    <div class="picture-container">
        <img class="picture" src="./../../../assets/me.webp">
    </div>
    <section class="description">
        <p>👋 Hi everyone 👋 </p>
        <p>I'm Matteo Cappella and I'm a <strong>Software Engineer</strong> based in Milan 🇮🇹.</p>
        <p>I have {{ experienceYears }} years experience in <strong>Web development</strong> and I love to interact
            with
            other people 👥 and building stuff togheter.</p>

        <p>I currently work as <strong>Team Leader and Frontend Developer</strong> at
            <a href="https://leitha.eu/" target="_blank">Leithà | Unipol Group</a>.
        </p>
    </section>
</div>