<!-- Skills -->
<section class="skills">
    <h1>Tech that I love 💖</h1>
    <div class="skills-container">
        <img class="logo" src="./../../../assets/tech/angular.svg">
        <img class="logo" src="./../../../assets/tech/react.svg">
        <img class="logo" src="./../../../assets/tech/javascript.svg">
        <img class="logo" src="./../../../assets/tech/typescript.svg">
        <img class="logo" src="./../../../assets/tech/nodejs.svg">
        <img class="logo" src="./../../../assets/tech/html-1.svg">
        <img class="logo" src="./../../../assets/tech/css-3.svg">
        <img class="logo" src="./../../../assets/tech/sass-1.svg">
        <img class="logo" src="./../../../assets/tech/git.svg">
        <img class="logo" src="./../../../assets/tech/python.svg">
        <img class="logo" src="./../../../assets/tech/mongodb.svg">
    </div>
</section>