.skills {
    align-items: center;
    border-top: 5px solid #EE74D7;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.skills-container {
    height: 100%;
    align-items: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
}

.logo {
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 15px;

    &:hover {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;      
    }
}

h1 {
    margin-bottom: 0;
}


@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .logo {
        max-width: 80px;
        max-height: 80px;     
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .logo {
        max-width: 80px;
        max-height: 80px;     
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .logo {
        max-width: 100px;
        max-height: 100px;     
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .logo {
        max-width: 100px;
        max-height: 100px;     
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .logo {
        max-width: 100px;
        max-height: 100px;     
    }
}