<!-- Skills -->
<section class="skills">
    <h1>Tech that I love 💖</h1>
    <div class="skills-container">
        <a target="_blank" href="https://angular.io/"><img class="logo" src="./../../../assets/tech/angular.svg"></a>
        <a target="_blank" href="https://react.dev/"><img class="logo" src="./../../../assets/tech/react.svg"></a>
        <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript?retiredLocale=it"><img class="logo" src="./../../../assets/tech/javascript.svg"></a>
        <a target="_blank" href="https://www.typescriptlang.org/"><img class="logo" src="./../../../assets/tech/typescript.svg"></a>
        <a target="_blank" href="https://nodejs.org/en"><img class="logo" src="./../../../assets/tech/nodejs.svg"></a>
        <a target="_blank" href="https://html.spec.whatwg.org/"><img class="logo" src="./../../../assets/tech/html-1.svg"></a>
        <a target="_blank" href="https://www.w3.org/Style/CSS/Overview.en.html"><img class="logo" src="./../../../assets/tech/css-3.svg"></a>
        <a target="_blank" href="https://sass-lang.com/"><img class="logo" src="./../../../assets/tech/sass-1.svg"></a>
        <a target="_blank" href="https://git-scm.com/"><img class="logo" src="./../../../assets/tech/git.svg"></a>
        <a target="_blank" href="https://www.python.org/"><img class="logo" src="./../../../assets/tech/python.svg"></a>
        <a target="_blank" href="https://www.mongodb.com/"><img class="logo" src="./../../../assets/tech/mongodb.svg"></a>
    </div>
</section>