/* You can add global styles to this file, and also import other style files */

html, body {
    padding: 0;
    margin: 0;
    background-color: #FFFEAA;
    font-family: "Roboto", sans-serif;
    height: 100%;
    min-height: 100vh;
}

p {
    text-align: center;
    font-size: 20px;
}

a {
    font-weight: 700;
    color: #EE74D7;
}

h1, h2, h3 {
    color: #EE74D7;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}