/* You can add global styles to this file, and also import other style files */

html, body {
    padding: 0;
    margin: 0;
    background-color: #FFFEAA;
    font-family: "Roboto", sans-serif;
    height: 100%;
    min-height: 100vh;
}

p {
    text-align: center;
}

a {
    color: #EE74D7;
}

h1, h2, h3 {
    color: #EE74D7;
    font-weight: 700;
    text-align: center;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    img {
        max-width: 150px;
        max-height: 150px;     
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    img {
        max-width: 150px;
        max-height: 150px;     
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    img {
        max-width: 150px;
        max-height: 150px;     
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    img {
        max-width: 200px;
        max-height: 200px;     
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    img {
        max-width: 250px;
        max-height: 250px;     
    }
}